body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.rdw-editor-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 100px;
  border-radius: 30px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.568);
}

.rdw-editor-toolbar {
  width: 50%;
}

.rdw-editor-main {
  width: 51%;
  height: 50%;
  margin-bottom: 20px;
  border: 2px dotted gray;
}

.container,
.editor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.save-btn {
  border: 1px solid rgb(41, 40, 40);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 50px;
  margin-right: 10px;
}

.disabled-btn {
  border: 1px solid rgb(41, 40, 40);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  opacity: 0.65;
  cursor: not-allowed;
}

.save-btn:hover {
  box-shadow: 0px 0px 7px rgb(100, 100, 100);
}

button {
  background-color: #fcc349; /* Green */
  border: none;
  outline: #da9500;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

a{
  text-decoration: none;
  margin: 10px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}